@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@layer utilities {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }
}